<div class="inputLabel-wrapper">
    <label for="{{inputId}}">{{label}}</label>
    <input
            id = {{inputId}}
            type="{{inputType}}"
            placeholder={{inputId}}
    />
</div>